@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");


$red: rgb(229, 9, 20);
$gray: rgb(48, 48, 48);
$lightblack: rgb(51, 51, 51);
$black : rgb(0,0,0);
$white: white;
$footertext:#737373;
$Transparent:rgba(0,0,0,.60);
$darkgrey:#333;

$light:300;
$mdlight:400;
$mdbold:500;
$extrabold:600;

